In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier / obsolete on v0.23
plt.rcParams['figure.figsize'] = [15,7]

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 1000)

In [ ]:
pd.__version__

# DataFrames creation

In [ ]:
pd.DataFrame([[1,2,3,4],[5,6,7,8]])

In [ ]:
pd.DataFrame([[1,2,3,4],[5,6,7,8]], columns=['col1','col2','col3','col4'])

In [ ]:
pd.DataFrame([[1,2,3,4],[5,6,7,8]], columns=['col1','col2','col3','col4'], index=['a', 'b'])

# Load data from file

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")

In [ ]:
df.head()

In [ ]:
# also from JSON, and other formats
df = pd.read_json("nba_stats/stats.json")

In [ ]:
df.head() # note that in JSON format columns are sorted in alphanum order

In [ ]:
# read a JSON string directly
pd.read_json('[{"a": 1, "b": 2}, {"a": 3, "b": 4}]')

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")

## Attributes
Most of them as similar to the Serie's attributes

In [ ]:
df.values # values

In [ ]:
df.index # index values

In [ ]:
df.ndim # number of dimensions of the DataFrame

In [ ]:
df.shape # number of (rows, columns)

In [ ]:
df.size # total number of elements in the DataFrame (rows x columns), not to confuse with shape

# Methods

In [ ]:
df.info() # provide info summary on the df

In [ ]:
df.get_dtype_counts() # count of columns by datatype

In [ ]:
df.sum() # sum of all values in DF per column

In [ ]:
df.mean() # mean per column

In [ ]:
df.mean(axis=1) # the axis parameter let us set the dimension to aggregate (rows = 0, columns = 1)

... similar behavior on most of the methods available on a Series (mean, min, max, std, product ...)

## Data look up

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")
df.head()

In [ ]:
df['PLAYER FULL NAME'] # extract a single column (Series) of data

In [ ]:
df[['PLAYER FULL NAME', 'POSITION']] # extract multiple columns at once

In [ ]:
df2 = df['PLAYER FULL NAME'] # by assigning to df2, we get a slice of the dataframe, wether it is a COPY or a REFERENCE
# is not very intuitive.
# For a single column, it is usually a reference
df2[0] = "Al Horford" # !!! Warning
df.head(1)

### important warning about assignments
http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

https://www.dataquest.io/blog/settingwithcopywarning/

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")

In [ ]:
# instead it is recommended to use `.loc`
df.loc[:,'PLAYER FULL NAME']  # single column

In [ ]:
df2 = df['PLAYER FULL NAME']
df2.loc[0] = "Al Horford"
df.head(1)

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")

In [ ]:
# in the case above, the assignment actually worked, and also modified the original DF
# If we do:
df3 = df[['PLAYER FULL NAME', 'POSITION']]
df3['PLAYER FULL NAME'][0] = "Mickey Mouse"
df3.head(1)

In [ ]:
df.head(1) # df was not affected

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")

In [ ]:
df4 = df[['PLAYER FULL NAME', 'POSITION']]
df4.loc[0, 'PLAYER FULL NAME'] = "Mickey Mouse"
df4.head(1)

In [ ]:
df.head(1) # df was NOT modified, because df4 was a copy in this case

In [ ]:
df5 = df[['PLAYER FULL NAME', 'POSITION']].copy()
df5.loc[0, 'PLAYER FULL NAME'] = "Mickey Mouse"
df5.head(1)

In [ ]:
# no warning as we implicitely defined this df as a copy

## Back to data lookup

In [ ]:
df.loc[2:5, 'PLAYER FULL NAME'] # rows index 2 to 5, FULL PLAYER NAME column

In [ ]:
df.iloc[1, 2:7] # single row index 1, columns index 2 to 7

In [ ]:
df.loc[0:2, ['PLAYER FULL NAME', 'POSITION']] # new DF

In [ ]:
df.loc[:, ['PLAYER FULL NAME', 'POSITION']]  # all rows, multiple columns

In [ ]:
# filter all but a specific column
df.loc[:, df.columns != 'POSITION']

In [ ]:
df[['PLAYER FULL NAME', 'POSITION']][:5] # works fine for accessing... but use loc / iloc for assignment

## Data transformation

In [ ]:
# apply a function to each cell of a column
df['PLAYER FULL NAME'].apply(str.upper)

In [ ]:
# another example, apply your own function
def scramble(cell):
    a = list(cell)
    np.random.shuffle(a)
    return "".join(a)

In [ ]:
df['PLAYER FULL NAME'].apply(scramble)

In [ ]:
# apply a function to each row of the DataFrame
# or use multiple columns of a row to create a column
def transform_row(row):
    return row['PLAYER FULL NAME'] + ": " + row['OWN TEAM']

df.apply(lambda row: transform_row(row), axis=1) # need to specify the axis for this to work

## Renaming columns

In [ ]:
# rename a single column or selected columns
df.rename(columns={'PLAYER FULL NAME': 'FULL NAME', 'OWN TEAM': 'TEAM'}) # use inplace=True or reassign to commit

In [ ]:
# rename all columns
new_columns = [c.lower() for c in df.columns.values]
df.columns = new_columns

In [ ]:
df.head(2)

## Filtering data

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")

In [ ]:
df['POSITION'] == 'SF' # returns a Series of Booleans

In [ ]:
df[df['POSITION'] == 'SF'] # returns the column filtered by the boolean series

In [ ]:
df['TOT'] > 14

In [ ]:
df[df['TOT'] > 14]

In [ ]:
# sometimes more clear to use assignements like
total_rebounds_gt_14 = df['TOT'] > 14
df[total_rebounds_gt_14]

In [ ]:
turnovers_gt_4 = df['TO'] > 4

In [ ]:
df[turnovers_gt_4]

## Chaining filters, logical filters (AND / OR)
We can use boolean logic to chain filters

In [ ]:
df[total_rebounds_gt_14 & turnovers_gt_4] # filter with both filters

In [ ]:
df[total_rebounds_gt_14 | turnovers_gt_4] # filter with either filters

## Merging, joining, concat

In [ ]:
df = pd.read_csv("nba_stats/stats.csv")
desc = pd.read_csv('nba_stats/team-cities.csv')
desc.head()

### Merging data: JOIN query like SQL
https://www.codeproject.com/KB/database/Visual_SQL_Joins/Visual_SQL_JOINS_orig.jpg

In [ ]:
df.columns.values

In [ ]:
df.columns.values[4] = 'City'

In [ ]:
df.columns

In [ ]:
desc.head()

In [ ]:
df['City'].head()

In [ ]:
df = df.set_index('City')
df.head(1)

In [ ]:
desc = desc.set_index('City')
desc.head(1)

In [ ]:
df = df.join(desc)
df.head()

In [ ]:
df[['PLAYER FULL NAME', 'Team Name']]

## Pivot tables
Transforms data from a columnar format with duplicate index entries to a tabular format aggregating entries into columns

In [ ]:
df = pd.DataFrame([
    [123, 'First Name', 'John'],
    [123, 'Last Name', 'Doe'],
    [111, 'First Name', 'Jane'],
    [111, 'Last Name', 'Smith'],
    [124, 'First Name', 'Robert'],
    [125, 'Last Name', 'Jones'],
    [123, 'Favorite Food', 'Ice Cream'],
    [124, 'Favorite Food', 'Peperoni Pizza']
], columns=['ID', 'Group', 'Value'])
df.head()

In [ ]:
df2 = df.pivot(index="ID", columns="Group", values="Value")
df2.head()